<div class="loginbox">
  <div class="row">
    <div class="col-6 col-md-6">
      <table class="mobile-table" border="1">
        <tr>
          <td colspan="3">
            <form [formGroup]="superHeroForm">
              <input type="text" id="result" formControlName="hero_input" style="height:50px;width: 179px;" />
            </form>
          </td>
        </tr>
        <tr>
          <td>
            <button class="button button5" (click)="setValue('1')" style="padding-right: 18px;padding-left: 18px;">
            <div class="row" style="margin: 2px">
              1
            </div>
            <div class="row" style="margin: -5px">
                @.?
            </div>
            </button>
          </td>
          <td><button class="button button5" (click)="setValue('2')" style="padding-right: 17px;padding-left: 16px;">
              <div class="row" style="margin: 2px">
                  2
                </div>
                <div class="row" style="margin: -5px">
                    ABC
                </div>
          </button></td>
          <td><button class="button button5" (click)="setValue('3')" style="padding-right: 21px;padding-left: 21px;">
              <div class="row" style="margin: 2px">
                  3
                </div>
                <div class="row" style="margin: -5px">
                    DEF
                </div>
          </button></td>
        </tr>
        <tr>
          <td><button class="button button5" (click)="setValue('4')" style="padding-right: 18px;padding-left: 18px;">
              <div class="row" style="margin: 2px">
                  4
                </div>
                <div class="row" style="margin: -5px">
                    GHI
                </div>
          </button></td>
          <td><button class="button button5" (click)="setValue('5')">
              <div class="row" style="margin: 2px">
                  5
                </div>
                <div class="row" style="margin: -5px">
                    JKL
                </div>
          </button></td>
          <td><button class="button button5" (click)="setValue('6')">
              <div class="row" style="margin: 2px">
                  6
                </div>
                <div class="row" style="margin: -5px">
                    MNO
                </div>
          </button></td>
        </tr>
        <tr>
          <td><button class="button button5" (click)="setValue('7')">
              <div class="row" style="margin: 2px">
                  7
                </div>
                <div class="row" style="margin: -5px">
                    PQRS
                </div>
          </button></td>
          <td><button class="button button5" (click)="setValue('8')">
              <div class="row" style="margin: 2px">
                  8
                </div>
                <div class="row" style="margin: -5px">
                    TUV
                </div>
          </button></td>
          <td><button class="button button5" (click)="setValue('9')">
              <div class="row" style="margin: 2px">
                  9
                </div>
                <div class="row" style="margin: -5px">
                    WXYZ
                </div>
          </button></td>
        </tr>
        <tr>
          <td><button class="button button5" (click)="setValue('*')">
              <div class="row" style="margin: 2px">
                  *
                </div>
                <div class="row" style="margin: -5px">
                    SEND
                </div>
          </button></td>
          <td><button class="button button5" (click)="setValue('0')">
              <div class="row" style="margin: 2px">
                  0
                </div>
                <div class="row" style="margin: -5px">
                    ZERO
                </div>
          </button></td>
          <td><button class="button button5" (click)="setValue('#')">
              <div class="row" style="margin: 2px">
                  #
                </div>
                <div class="row" style="margin: -5px">
                    SPACE
                </div>
          </button></td>
        </tr>
      </table>
    </div>

    <div class="col-6"></div>
  </div>
</div>