<div class="row" style="margin: 0px; text-align: center; padding: 20px">
  <div class="col-md-12">
      <label style="font-size: xx-large;font-weight: bolder">Call Heroes By Dialing Codes</label>
  </div>
</div>
<div class="row" style="margin: 0px;">
  <div class="col-md-6" style="margin-top:100px;border-right: 2px solid;text-align: center;">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="superHeroForm">
          <input type="text" id="result" formControlName="hero_input"
            style="padding: 16px; margin: 2px; width: 267px;border: 3px solid;border-radius: 5%" />
        </form>
      </div>
      <div class="col-md-12">
        <button type="button" class="btn" (click)="setValue('1')"><span
            style="display: block">1</span><span>@.?</span></button>
        <button type="button" class="btn" (click)="setValue('2')"><span
            style="display: block">2</span><span>ABC</span></button>
        <button type="button" class="btn" (click)="setValue('3')"><span
            style="display: block">3</span><span>DEF</span></button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn" (click)="setValue('4')"><span
            style="display: block">4</span><span>GHI</span></button>
        <button type="button" class="btn" (click)="setValue('5')"><span
            style="display: block">5</span><span>JKL</span></button>
        <button type="button" class="btn" (click)="setValue('6')"><span
            style="display: block">6</span><span>MNO</span></button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn" (click)="setValue('7')"><span
            style="display: block">7</span><span>PQRS</span></button>
        <button type="button" class="btn" (click)="setValue('8')"><span
            style="display: block">8</span><span>TUV</span></button>
        <button type="button" class="btn" (click)="setValue('9')"><span
            style="display: block">9</span><span>WXYZ</span></button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn" (click)="callHero()"><span
            style="display: block">*</span><span>SEND</span></button>
        <button type="button" class="btn" (click)="setValue('0')"><span
            style="display: block">0</span><span>ZERO</span></button>
        <button type="button" class="btn" (click)="setValue(' ')"><span
            style="display: block">#</span><span>SPACE</span></button>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn clear-button" (click)="clearField()"><span style="display: block">CLEAR</span></button>
        </div>
      </div>
  </div>
  <div class="col-md-5" style="margin-top:100px">
    <div class="row" *ngIf="superHero">
      <div class=" col-md-6 show-hero">
        <img src="assets/images/{{superHero}}.jpeg" style="height: inherit; width: inherit" alt="">
      </div>
    </div>
    <div class="row" *ngIf="errorMesage" style="padding: inherit">
        <div class="show-hero-not-found">
          <Label>{{errorMesage}}</Label>
        </div>
      </div>
  </div>

</div>